<div class="card timeline-page">
    <p-timeline [value]="events" align="alternate" styleClass="customized-timeline">
        <ng-template pTemplate="content" let-event class="timeline-card">
            <p-card [header]="event.title" [subheader]="event.date">
                <ng-template pTemplate="header">
                    <!-- <img alt="Card" src={{event.image}} /> -->
                    <iframe width="200" height="200" [src]="event.video" frameborder="0"></iframe>
                </ng-template>
                <img *ngIf="event.image" src={{event.image}}
                    [alt]="event.name" width="200" class="shadow-2" />
                <p>
                    {{event.description}}
                </p>
            </p-card>
        </ng-template>
    </p-timeline>
</div>